@model MembersViewModel
@{
    ViewData["Title"] = "Members";
}

<div id="members" class="page">
    <div class="page-header">
        <h1>members</h1>
        <button type="button" class="btn" data-type="modal" data-target="#add-member-modal">
            <i class="fa-duotone fa-solid fa-plus"></i>
            <span>Add Member</span>
        </button>
    </div>
    <section class="member-list">
        @if (Model.Members != null && Model.Members.Any())
        {
            @foreach (var member in Model.Members)
            {
                @await Html.PartialAsync("ListItems/_MemberListItemPartial", member)
            }
        }
    </section>
</div>

@await Html.PartialAsync("Modals/_AddMemberModalPartial", Model.AddMemberFormData)
@await Html.PartialAsync("Modals/_EditMemberModalPartial", Model.EditMemberFormData)