<aside id="sidebar">
    <section class="logotype">
        <a asp-controller="Projects" asp-action="Index"><img src="/images/logotype/alpha-logotype-icon.svg"
                alt="alpha" />
            <span>alpha</span>
        </a>
    </section>
    <section class="nav-links">
        <a asp-controller="Projects" asp-action="Index"
            class="nav-link @(Context.Request.Path.Value!.StartsWith("/admin/projects") ? "active" : "")">
            <i class="fa-duotone fa-solid fa-briefcase"></i>
            <span>Projects</span>
        </a>
        <a asp-controller="Clients" asp-action="Index"
            class="nav-link @(Context.Request.Path.Value!.StartsWith("/admin/clients") ? "active" : "")">
            <i class="fa-duotone fa-solid fa-handshake"></i>
            <span>Clients</span>
        </a>

        <a asp-controller="Members" asp-action="Index"
            class="nav-link @(Context.Request.Path.Value!.StartsWith("/admin/members") ? "active" : "")">
            <i class="fa-duotone fa-solid fa-user-group"></i>
            <span>Members</span>
        </a>
    </section>
</aside>