<div id="account-container">
    <button type="button" data-type="dropdown" data-target="#account-dropdown" class="btn-account">
        <img src="/images/users/user-template-male-green.svg" alt="template avater" />
    </button>
    <div id="account-dropdown" class="dropdown">
        <div class="dropdown-header">
            <div class="account-name">
                <img src="/images/users/user-template-male-green.svg" alt="template avater" />
                <span>@Context.Session.GetString("UserName")</span>
            </div>
        </div>
        <div class="dropdown-body">
            <nav class="dropdown-options">
                <div class="dropdown-option">
                    <label for="darkModeToggle" class="switch-label">
                        <i class="fa-duotone fa-solid fa-cog"></i>
                        <span>Dark Mode</span>
                    </label>
                    <label class="switch">
                        <input type="checkbox" id="darkModeToggle" data-type="toggle" data-func="darkmode" />
                        <span class="slider"></span>
                    </label>
                </div>
            </nav>
            <div class="divider"></div>
            <nav class="dropdown-actions">
                <a class="dropdown-action" asp-controller="Auth" asp-action="Logout">
                    <i class="fa-duotone fa-solid fa-right-from-bracket"></i>
                    <span>Logout</span>
                </a>
            </nav>
        </div>
    </div>
</div>