@model LoginViewModel
@{
    Layout = "_CenterWrapperLayout";
    ViewData["Title"] = "Log in";
}


<section id="login">
    <div class="card">
        <div class="card-header">
            <h1>Login</h1>
        </div>
        <div class="card-body">
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success">
                    @TempData["SuccessMessage"]
                </div>
            }

            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

            <form method="get" asp-controller="Auth" asp-action="GoogleLogin" novalidate>
                <button type="submit" class="btn-external">
                    <img src="@Url.Content("~/images/icons/google-icon.svg")" />
                    <span> Log in with Google </span>
                </button>
            </form>

            <div class="divider"><span>OR</span></div>

            <form method="post" asp-controller="Auth" asp-action="Login" novalidate>
                <div class="form-group">
                    <label class="form-label" asp-for="Email"></label>
                    <input class="form-input" asp-for="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-label" asp-for="Password"></label>
                    <input class="form-input" asp-for="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-checkbox-group">
                    <label class="form-checkbox">
                        <input asp-for="RememberMe" class="form-checkbox-input" />
                        <span class="form-checkbox-box"></span>
                    </label>
                    <label asp-for="RememberMe" class="form-label">Remember me</label>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Log in</button>
                </div>
            </form>
        </div>

        <div class="card-footer">
            Don't have an account? <a asp-controller="Auth" asp-action="SignUp">Sign up</a>
        </div>
    </div>
</section>

<partial name="_CookieConsentPartial" />